.home_page {
    display : flex;
    flex-flow : column wrap;
    justify-content: space-around;
    padding-bottom: 5.2em;
    height: 100vh;
}
.home_header {
    display: flex;
    justify-content: space-between;
    flex-flow : row nowrap;
    padding: 2em;
    width: 100%;

}
.home_title {
    width: 10em;
    margin-top: 2em;
}
/*** return Button ***/
.return Button {
    outline: none;
    border: none;
    margin: 1em;
    width: 3em ;
}
.return {
    align-self: left;
}

button {
    outline: none;
    border: none;
  }
/*** -- ***/
/* 
#dc975d;
#6F6C78 
*/

/***** partie categorie *****/

.category_books {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2em;
}
.logo_cat {
    width: 70%;
}
.row {
    display: flex;
    flex-flow : row wrap;
    justify-content: center;
}
.type_container {
    text-align: center;
    padding : 10px;
    margin : 20px;
    
}
.type_container h4 {
    text-align: center;
    padding: 1px;
    margin: none !important;
   
}
.type_container :hover {
    color:  #dc975d !important;
    font-weight: 600 !important;

}


/**** Menu navbar ****/
.menu_navbar {
  position: fixed;
  bottom: 0em;
  background-color: white;
  height: 4.9em;
  color: white;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 0px 3px 0px #77838f65;
  width: 100%;
  z-index: 1;

}
/* Media Query sur mobile portrait & landscape */
@media only screen 
and (min-device-width: 320px)
and (max-device-width: 812px) {
    .home_page {
        display : flex;
        flex-flow : row wrap;
        height: 100%;
    }
    .home_header {
        width: 100%;
    }
    .category_books {
        display: flex;
        flex-flow: column wrap;

    }
    .row {
        display: flex;
        flex-flow : column nowrap !important;
        align-items: center;
    }
    .logo_cat {
        width: 75%;
    }
}
  /*****/